<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Base Page</title>
    </head>
    <body>
        <h1>Welcome to the homepage!</h1>
        <h1>Hello {{ name }}</h1>
        <h1>{{letters}}</h1>
        <h1>{{ pup_dictionary['pup_name'] }}</h1>

        <ul>
            {% for pup in puppies %}
            <li>{{pup}}</li>
            {% endfor %}
        </ul>

        {% if 'Spot' in puppies %}
        <p>Found you Spot!</p>
        {% else %}
        <p>Hmm.. Spot's not in this list!</p>
        {% endif %}
     
        {% if user_logged_in %}
        <p>Welcome, you are now logged in!</p>
        {% else %}
        <p>Please Log in!</p>
        {% endif %}
        <h2>Here is a pic of a puppy!</h2>
        <img src="../static/puppy_pic.jpg" alt="">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>